html,
body {
   margin: 0;
   padding: 0;
   background-color: white;

   input,
   select {
      box-sizing: border-box;
      border-radius: 4px;
      padding: 3px 5px;
      border: 1px solid var(--uvalib-grey);
      width: 100%;
   }
   input[type=checkbox] {
      cursor: pointer;
   }

   .right-pad {
      margin-right: 10px !important;
   }

   #app {
      font-family: "franklin-gothic-urw", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: var(--color-primary-text);
      margin: 0;
      padding: 0;
      background: white;

      h2 {
         color: var(--uvalib-brand-orange);
         margin: 10px 0;
      }

      a {
         color: var(--uvalib-blue-alt-dark);
         font-weight: 500;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
      p.version {
         margin: 5px 0 0 0;
         font-size: 0.5em;
         text-align: right;
      }
      div.library-link {
         width: 220px;
         order: 0;
         flex: 0 1 auto;
         align-self: flex-start;
      }
      div.site-link {
         order: 0;
         font-size: 1.5em;
         a {
            color: white;
            text-decoration: none;
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}