html,
body {
   margin: 0;
   padding: 0;
   background-color: white;

   input,
   select,
   textarea {
      box-sizing: border-box;
      border-radius: 4px;
      padding: 5px 8px;
      border: 1px solid var(--uvalib-grey-light);
      width: 100%;
   }
   input[type=checkbox] {
      cursor: pointer;
   }

   .right-pad {
      margin-right: 10px !important;
   }

   dl {
      margin: 10px 30px 0 30px;
      display: inline-grid;
      grid-template-columns: max-content 2fr;
      grid-column-gap: 10px;
      font-size: 0.9em;
      text-align: left;
      box-sizing: border-box;

      dt {
         font-weight: bold;
         text-align: right;
      }
      dd {
         margin: 0 0 10px 0;
         word-break: break-word;
         -webkit-hyphens: auto;
         -moz-hyphens: auto;
         hyphens: auto;
         color: var(--uvalib-text);
         .na {
            color: #ddd;
         }
      }
   }

   #app {
      font-family: "franklin-gothic-urw", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: var(--color-primary-text);
      margin: 0;
      padding: 0;
      background: white;

      h2 {
         color: var(--uvalib-brand-orange);
         margin: 10px 0;
         position: relative;
      }

      a {
         color: var(--uvalib-blue-alt-dark);
         font-weight: 500;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}