.p-dialog-mask {
   .p-dialog {
      .p-dialog-header {
         background: var(--uvalib-teal-lightest);
         border-bottom: 1px solid var(--uvalib-teal-light);
         border-radius: 0.3rem 0.3rem 0 0;
         margin-bottom: 25px;
      }
   }
}

div.p-paginator.p-component  {
   border-top: 1px solid var(--uvalib-grey-lightest);
}

div.p-panel-header {
   background: var(--uvalib-grey-lightest);
   border-bottom: 1px solid var(--uvalib-grey-light);
   margin-bottom: 15px;
}